*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Neucha', cursive;
}

.start {
	font-size: 36px;
	text-align: center;
}

.hide {
	display: none;
}

.car {
	width: 50px;
	height: 100px;
	background: transparent url('../image/player.png') center / cover no-repeat;
}