body {
	font-family: "Neucha", cursive;
	overflow: hidden;
}

button {
	outline: none;
}

.hide {
	display: none;
}

.car,
.enemy {
	position: absolute;
	background: transparent url("../image/player.png") center / cover no-repeat;
	width: 50px;
	height: 100px;
}

.gameArea {
	position: relative;
	overflow: hidden;
	margin: auto;
	width: 300px;
	height: 100%;
	background: #222222;
}

.line {
	position: absolute;
	left: 145px;
	width: 10px;
	height: 50px;
	background-color: #ffffff;
}

.start,
.score {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 200;
	margin: 0;
	padding: 1rem 0;
	border: 5px solid #36c14b;
	width: 100%;
	font-family: 'Neucha', cursive;
	font-size: 36px;
	text-align: center;
	background-color: #36c14b;
	color: #ffffff;
	transition: 0.3s
}

.start:hover {
	border: 5px solid #ffffff;
	background-color: #ffffff;
	color: #36C14B;
}